.App {
  text-align: center;
  background-image: url(/public/images/Design.png);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
